* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: white;
    font-family: 'segoe ui';
    background: #272727;
  }
  .Main-Menu{
  }
  .time-signal{
    position: fixed;
    padding-bottom: 2rem;
    display: flex;
flex-direction: row;
    padding: .5rem;
  }
  #time{
    color: #FFf;
  }
  .signal-flex{
    display: flex;
    float: right;
    align-items: right;
    position: fixed;
    top: .1rem;
    right: 0;
  }
  .signal-flex>img{
    width: 1.5rem;
    height: 1.5rem;
  }
  .google-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

  }
  .icon-input{
    display: flex;
    flex-direction: row;
  }
  .google{
    height: 3.5rem;
    width: 3.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #272727;
    outline: none;
    box-shadow: 3px 4px 6px #222;
  }
  .google>img{
    padding: 10px;
    margin-left: 4px;
    margin-top: 2px;
  }
  .search{
    height: 3.5rem;
    background: #272727;
    outline: none;
    border: none;
    color: white;
    box-shadow: 3px 4px 6px #222;
  }
  .len-mic{
    display: flex;
    flex-direction: row;
    background: #272727;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    box-shadow: 3px 4px 6px #222;
  }
  .len-mic>img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem;
  }
  .input-cnt {
    padding-top: 2rem;
    display: flex;
    margin-left: 1rem;
    }
      .input-cnt > i {
         min-width: 40px; 
         height: 2.5rem;
         padding: 12px; 
         text-align: center; 
         background: white;
         color: gray;
         border-top-left-radius: 20px;
         border-bottom-left-radius: 20px;
      }
      /* style the input */
      .input-cnt > input {
        min-width: 16.5rem;
         outline: none;
         border: none;
         padding: 10px;
         border-top-right-radius: 20px;
         border-bottom-right-radius: 20px;
      }
      .input-cnt > input:hover {
        min-width: 18rem;
      }
      .main-app{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
      }
      .letters{
        width: 3.5rem;
        height: 2.5rem;
        border-radius: 5rem;
        background: white;
        margin-left: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .7;
      }
      .letters>i{
        color: orange;
      }
      .letters>.letter{
        color: orange;
        font-weight: bolder;
      }
     .apps{
       display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
  }
    .fb{
    width: 3rem;
    height: 3rem;
    background: #222;
    border-radius: 2.5rem;
    border: 2px solid orange;
  }
  .app-apps{
    display: block;
    width: 30rem;
    background: unset;

  }
  .sec-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    margin-left: 1rem;
  }
  .app-apps>.app-main{
    display: block;
  }
  .app-name{
    color: #fff;
    font-weight: bold;
    padding-top: .5rem;
    text-align: center;
  }
  .sec-row>.app-mains{
    position: relative;
    right: 10rem;
  }
  .apps>.app-mains{
   position: relative;
    right: 10rem;
  }